.git
.gitignore
.dockerignore
.idea
.config
.config.pri
.config.pri.tmp
.config.mkfile
.config.mkfile.tmp
include/config.h
include/MACHINE.H
include/locations.h
include/objects.h
include/mobiles.h
include/verbs.h
src/Makefile
bin/aberd
bin/aberd.new
*.o
*.a
*.so
*.core
core
core.*
data/players/**
data/CRASHES/**
data/LOGS/**
data/TMP/**
data/WALL/**
data/DESC/**
data/XRMAIL/**
data/XRVOTE/**
